body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1e5799;
  background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 96%, #207cca 100%, #7db9e8 100%);
  background: -webkit-linear-gradient(top, #1e5799 0%, #2989d8 96%, #207cca 100%, #7db9e8 100%);
  background: linear-gradient(to bottom, #1e5799 0%, #2989d8 96%, #207cca 100%, #7db9e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8', GradientType=0);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}